.cover {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
body {
  background-color: black;
  font-family: "Pacifico", cursive;
  background-image: url("cover1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  color: white;
  align-content: center;
}
.cover-head {
  font-size: 130px;
  width: 100%;
  justify-content: center;
  font-family: "Pacifico", cursive;
}
.cover-text {
  padding: 0px 0px 20px;
  font-family: "Sigmar One", cursive;
  width: 100%;
  justify-content: center;
  font-size: 50px;
}
.discover {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 150px;
}
.about {
  padding: 80px 40px;
  background-image: url(https://images.pexels.com/photos/2105288/pexels-photo-2105288.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.about-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 0px 0px 20px 0px;
  color: white;
  width: 100%;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
.about-details {
  display: flex;
  justify-content: center;
  align-content: center;
}
.work-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 40px;
}
.work-img {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.card-body {
  background-color: black;
  font-size: 20px;
}
.card {
  background-color: black;
  border-color: black;
}
.my-work {
  background-image: url(https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.greyforbutton {
  background-color: lightgrey;
  border-radius: 15px;
}
.navbar-fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}

a:link {
  color: white;
  font-family: "Pacifico", cursive;
}

/* visited link */
a:visited {
  color: white;
  font-family: "Pacifico", cursive;
}

/* mouse over link */
a:hover {
  color: orange;
  font-family: "Sigmar One", cursive;
}
.fa-instagram:hover {
  color: magenta;
}
.fa-github:hover {
  color: black;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.social_media {
  position: absolute;
  bottom: 0px;
  justify-content: space-around;
  font-size: 40px;
}
.icon {
  height: 10px;
  width: 10px;
  padding: 50px;
  justify-content: center;
}
.container-text {
  justify-content: center;
}
.typewrite {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "Shadows Into Light", cursive;
}
@media only screen and (max-width: 991px) {
  .blackforbutton {
    background-color: black;
    border-radius: 15px;
    font-size: 40px;
  }
  .cover-text {
    font-size: 40px;
  }
  .cover-head {
    font-size: 60px;
  }
  .card-body {
    font-size: 40px;
  }
  .work-head {
    font-size: 40px;
  }
  .about-head {
    font-size: 40px;
  }
  .about-text {
    font-size: 40px;
  }
  .about-details {
    font-size: 10px;
  }
  .about-text {
    font-size: 25px;
    padding: 15px;
  }
  .cover-head {
    font-size: 80px;
  }
  .typewrite {
    font-size: 30px;
  }
}
